extends ../layout

block content
  .login-container
    h2.login-title Connexion

    if error
      .alert.alert-danger.mb-4= error
    if success
      .alert.alert-success.mb-4= success

    form.login-form(action="/auth/login" method="POST")
      .form-group
        label.form-label(for="email") Email
        input#email.form-control(type="email" name="email" required)

      .form-group
        label.form-label(for="password") Mot de passe
        input#password.form-control(type="password" name="password" required)

      button.btn.btn-primary(type="submit") Se connecter

    .login-links
      p Vous n'avez pas de compte ?
        a(href="/auth/register")  Inscrivez-vous ici