extends layout

block content
  h2.text-center.mb-4 Gestion des documents
  
  div.text-center
    button.btn.btn-success.m-2(onclick="window.location.href='/newdoc'") Ajouter un document 
       





