doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')
    script(src="/jquery/jquery.min.js")
    script(src="/js/script.js")
    

  body
    div.container
      h1.text-center.mb-4 Medialogue

      block content
